.header {
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1rem 3rem;
  color: var(--light-color);
}

.flex {
  display: flex;
  align-items: center;
}

.space {
  justify-content: space-between;
}
.end {
  justify-content: flex-end;
}
